resources/schemas/v1.1/OpenDocument-strict-schema-v1.1-errata01-complete.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--

     Open Document Format for Office Applications (OpenDocument) v1.1
     OASIS Standard incorporating Approved Errata 01
     22 July 2013
     Copyright (c) OASIS Open 2013. All Rights Reserved.
     Source: http://docs.oasis-open.org/office/v1.1/errata01/os/
     
-->
<!--
     
     This is a modification of OpenDocument-strict-schema-v1.1.rng that links to
     OpenDocument-schema-v1.1-errata01-complete.rng instead of the file
     OpenDocument-schema-v1.1.rng.  The original is retained in the package
     for comparison purposes.
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
    <include href="OpenDocument-schema-v1.1-errata01-complete.rng">
        <define name="office-meta-content">
            <ref name="office-meta-content-strict"/>
        </define>
        <define name="style-page-layout-properties-content">
            <ref name="style-page-layout-properties-content-strict"/>
        </define>
        <define name="style-header-footer-properties-content">
            <ref name="style-header-footer-properties-content-strict"/>
        </define>
        <define name="style-drawing-page-properties-content">
            <ref name="style-drawing-page-properties-content-strict"/>
        </define>
        <define name="style-text-properties-content">
            <ref name="style-text-properties-content-strict"/>
        </define>
        <define name="style-paragraph-properties-content">
            <ref name="style-paragraph-properties-content-strict"/>
        </define>
        <define name="style-ruby-properties-content">
            <ref name="style-ruby-properties-content-strict"/>
        </define>
        <define name="style-section-properties-content">
            <ref name="style-section-properties-content-strict"/>
        </define>
        <define name="style-list-level-properties-content">
            <ref name="style-list-level-properties-content-strict"/>
        </define>
        <define name="style-table-properties-content">
            <ref name="style-table-properties-content-strict"/>
        </define>
        <define name="style-table-column-properties-content">
            <ref name="style-table-column-properties-content-strict"/>
        </define>
        <define name="style-table-row-properties-content">
            <ref name="style-table-row-properties-content-strict"/>
        </define>
        <define name="style-table-cell-properties-content">
            <ref name="style-table-cell-properties-content-strict"/>
        </define>
        <define name="style-graphic-properties-content">
            <ref name="style-graphic-properties-content-strict"/>
        </define>
        <define name="style-chart-properties-content">
            <ref name="style-chart-properties-content-strict"/>
        </define>
    </include>
</grammar>
