resources/OpenDocument-v1.2-os-manifest-schema.rnc

# Converted by trang and manually compacted
namespace manifest="urn:oasis:names:tc:opendocument:xmlns:manifest:1.0"
start=manifest
manifest=element manifest:manifest{manifest-attlist,file-entry+}
manifest-attlist=attribute manifest:version{"1.2"}
file-entry=element manifest:file-entry{file-entry-attlist,encryption-data?}
file-entry-attlist=attribute manifest:full-path{\string}&attribute manifest:size{nonNegativeInteger}?&attribute manifest:media-type{\string}&attribute manifest:preferred-view-mode{"edit"|"presentation-slide-show"|"read-only"|namespacedToken}?&attribute manifest:version{\string}?
encryption-data=element manifest:encryption-data{encryption-data-attlist,algorithm,start-key-generation?,key-derivation}
encryption-data-attlist=attribute manifest:checksum-type{"SHA1/1K"|anyURI}&attribute manifest:checksum{base64Binary}
algorithm=element manifest:algorithm{algorithm-attlist,anyElements}
algorithm-attlist=attribute manifest:algorithm-name{"Blowfish CFB"|anyURI}&attribute manifest:initialisation-vector{base64Binary}
anyAttListOrElements=attribute*{text}*,anyElements
anyElements=element*{mixed{anyAttListOrElements}}*
key-derivation=element manifest:key-derivation{key-derivation-attlist,empty}
key-derivation-attlist=attribute manifest:key-derivation-name{"PBKDF2"|anyURI}&attribute manifest:salt{base64Binary}&attribute manifest:iteration-count{nonNegativeInteger}&attribute manifest:key-size{nonNegativeInteger}?
start-key-generation=element manifest:start-key-generation{start-key-generation-attlist,empty}
start-key-generation-attlist=attribute manifest:start-key-generation-name{"SHA1"|anyURI}&attribute manifest:key-size{nonNegativeInteger}?
base64Binary=xsd:base64Binary
namespacedToken=xsd:QName{pattern="[^:]+:[^:]+"}
nonNegativeInteger=xsd:nonNegativeInteger
\string=xsd:string
anyURI=xsd:anyURI